# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/resources/.DS_Store
src/main/webapp/resources/css/.DS_Store
src/main/webapp/resources/js/.DS_Store
target/
!/target/eds/resources/img/userPicture/
