@import 'http://fonts.googleapis.com/css?family=Noto+Sans';

body {
    padding: 0;
    margin: 0;
    background: -moz-linear-gradient(-45deg, #b3d9c9 0, #b3d9c9 25%, #b3d9c9 50%, #b3d9c9 75%, #22254c 100%);
    background: -webkit-linear-gradient(-45deg, #bdd9cf 0, #b3d9be 25%, #a8d9be 50%, #a7d9c3 75%, #22254c 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
}

.chat-thread {
    margin: 24px auto 0 auto;
    padding: 0 20px 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.oddRight {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 16px 40px 16px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
}

.oddRight:before {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    content: '';
}

.oddRight:after {
    border-right: 15px solid transparent;
    right: -15px;
}

.oddRightChild {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    margin-right: 80px;
    color: #255255;
}

.oddRightChild:before {

    right: -80px;
    -webkit-background-size: 100% 100%;
}

.oddRightChild:after {
    position: absolute;
    top: 15px;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid rgba(25, 147, 147, 0.2);
}

.oddLeft {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 16px 40px 16px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
}

.oddLeft:before {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    content: '';
}

.oddLeft:after {
    position: absolute;
    top: 15px;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid rgba(25, 147, 147, 0.2);
}

.oddLeftChild {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    margin-left: 80px;
    color: #255255;
}

.oddLeftChild:before {
    left: -80px;
    -webkit-background-size: 100% 100%;
}

.oddLeftChild:after {
    border-left: 15px solid transparent;
    left: -15px;
}

.chat-window {
    position: fixed;
    bottom: 18px;
}

.chat-window-message {
    width: 100%;
    height: 48px;
    font: 32px/48px 'Noto Sans', sans-serif;
    background: none;
    color: #b3d9c9;
    border: 0;
    border-bottom: 1px solid rgba(25, 147, 147, 0.2);
    outline: none;
}

/* Small screens */
@media all and (max-width: 767px) {
    .chat-thread {
        width: 90%;
        height: 260px;
    }

    .chat-window {
        left: 5%;
        width: 90%;
    }
}

/*调高度*/
/* Medium and large screens */
@media all and (min-width: 768px) {
    .chat-thread {
        width: 80%;
        height: 500px;
    }

    .chat-window {
        left: 25%;
        width: 50%;
    }
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

.credits {
    text-align: center;
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.35);
    font-family: 'Noto Sans', sans-serif;
}

.credits a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.35);
}